#   Infura configs
INFURA_KEY=infura_key

INFURA_ROPSTEN_MNEMONIC=infura_ropsten_mnemonic
INFURA_KOVAN_MNEMONIC=infura_kovan_mnemonic
INFURA_MAINNET_MNEMONIC=infura_mainnet_mnemonic


#   AppCoins
APPCOINS_CONTRACT_NAME=appcoins

#   AppCoins addresses
APPCOINS_DEVELOPMENT_ADDRESS=address_appcoins_development
APPCOINS_ROPSTEN_ADDRESS=0xab949343E6C369C6B17C7ae302c1dEbD4B7B61c3
APPCOINS_MAINNET_ADDRESS=0x1a7a8bd9106f2b8d977e08582dc7d24c723ab0db


#   AppCoinsIAB
APPCOINSIAB_CONTRACT_NAME=appcoinsiab

#   AppCoinsIAB addresses
IAB_DEVELOPMENT_ADDRESS=address_appcoinsiab_development
IAB_ROPSTEN_ADDRESS=0xB040e69BD4b1025EF6dA958CAc7464730933dB71
IAB_MAINNET_ADDRESS=0xb015D9bBabc472BBfC990ED6A0C961a90a482C57



#   Advertisement
ADVERTISEMENT_CONTRACT_NAME=advertisement

#   Advertisement addresses
ADVERTISEMENT_DEVELOPMENT_ADDRESS=address_advertisement_development
ADVERTISEMENT_ROPSTEN_ADDRESS=0x6dbF56Dde265e8E20C81Ac91F3a46cDf4B367104
ADVERTISEMENT_MAINNET_ADDRESS=0x2b3b93E6a7c56A90c6679da2e8E522Fb292f4B89


#   AddressProxy
ADDRESSPROXY_CONTRACT_NAME=addressproxy

#   AddressProxy addresses
ADDRESSPROXY_DEVELOPMENT_ADDRESS=address_proxy_development
ADDRESSPROXY_ROPSTEN_ADDRESS=address_proxy_ropsten
ADDRESSPROXY_MAINNET_ADDRESS=address_proxy_mainnet


#   AppCoinsBClass
APPCOINSBCLASS_CONTRACT_NAME=appcoinsbclass

#   AppCoinsBClass addresses
APPCOINSBCLASS_DEVELOPMENT_ADDRESS=address_appcoinsbclass_development
APPCOINSBCLASS_ROPSTEN_ADDRESS=address_appcoinsbclass_ropsten
APPCOINSBCLASS_MAINNET_ADDRESS=address_appcoinsbclass_mainnet
